{% extends "base.html" %}

{% block content %}
  <div class="col-md-4">
    <h2>Movie Details for "{{ title }}"</h2>
    <br>

      <h2>{{ movieSelect['Title'] }} ({{ movieSelect['Year'] }})</h2>
      <h3>Directed By: {{ movieSelect['Director'] }}</h3>
      <h5>IMDB Rating: {{ movieSelect['Ratings'][0]['Value'] }}</h5>
      <p>{{ movieSelect['Plot'] }}</p>
      <br>
      <p><b>Actors: </b>{{ movieSelect['Actors'] }}</p>
      <br>
      <br>
      <span id="{{ movieSelect['imdbID'] }}">
          <h5><input id="1" type="button"value="Favorite this movie!" title="{{ movieSelect['imdbID'] }}"></h5>
      </span>
      <script>
        var sourceElem = document.getElementById('1')
        function addfavorite(sourceElem) {
          $.post('/addfavorite', {
            text: $(sourceElem).title()
          });
        }
      </script>
      <br>
      <a href="https://www.imdb.com/title/{{ movieSelect['imdbID'] }}">More Information</a></p>

  </div>

{% endblock %}